<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>tretton37 Makerspace | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.name }}</h1>
      <h2 class="project-tagline"></h2>
      <a href="Index.html" class="btn">Home</a>
      <a href="Ultimaker.html" class="btn">Ultimaker</a>
      <br />
      <a href="https://github.com/Cyberlane/tretton37-makerspace" class="btn">View on GitHub</a>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/Cyberlane/tretton37-makerspace">{{ site.name }}</a</span>
      </footer>

    </section>


  </body>
</html>
